html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
	display: block;
}
ol,ul{
	list-style:none;
	margin:0;
	padding:0;
}
blockquote,q{
	quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after{
	content:'';
	content:none;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}

a{
	text-decoration:none;
}

.clear{clear:both;}/* clear float */

.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */

img{max-width:100%;}

body{
	font-family:Arial, Helvetica, sans-serif;
	background:white;
}
.wrap{
    width:80%;
	margin:0 auto;

}
.header{
	background-color: orange;
}

.cssmenu{
	padding-bottom:0%;
}

.cssmenu > ul > li {
	display: inline-block;
	position: relative;
	}

.cssmenu > ul > li > a.small {
	font-family: 'bebas_neueregular';
	display: block;
	line-height: 2.8em;
	padding: 2px 50px;
	letter-spacing: 1px;
	
}
.cssmenu > ul > li > a.mid {

	padding: 0px 330px;

	
}
.cssmenu > ul > li.active a, .cssmenu > ul > li a:hover {
	color: #000;
	background:#fff;
	}
	.cssmenu > ul {
		white-space:nowrap;
	}
a{
	color:white;
}
.cssmenu > ul > li > a.big {
	text-transform: uppercase;
	font-family: 'bebas_neueregular';
	display: block;
	line-height: 2.8em;
	padding: 2px 50px;
	letter-spacing: 1px;
	font-size: 1.5em;
	
}

.col1{
	display: block;
	float:left;
}


.wrap0{
	width:100%;
	height:700px;
}

.wrap1{
	float:left;
    padding: 1% 0 1%;
    width:12%;
    height:100%;
	margin:0 auto;
}

.wrap2{
	float:left;
	padding: 1% 0 1%;
	width:70%;
	height:100%;
	margin:0 auto;
	background-color:white;
}
.wrap3{
	float:left;
	padding: 1% 0 1%;
    width:18%;
    height:100%;
	margin:0 auto;
}



.qui-asides {
	
	height: 400px;
	width: 200px;
}
.qui-aside {
	
	width: 200px;
	background-color: orange;
}
.qui-asideNav {
	padding: 40px 10px 10px; 
}
.qui-asideNav li {
	border-top: 1px solid #232d34;
	background-color: brown;
}
.qui-asideNav a {
	text-decoration: none;
	display: block;
	padding-left: 15px;
	font-size: 16px;
	line-height: 45px;
	color: #ced1d5;
}
.qui-asideNav > ul > li.active a, .qui-asideNav > ul > li a:hover{
    color: white;
	background-color: red;
}
.qui-asideNav a:hover {
	color: white;
	background-color: red;
}

/*number*/
input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
   		 -webkit-appearance: none;
		}
        
        .minus{padding-bottom:0px; width: 55px; height: 55px; text-align: center; font-size:30px; font-weight:bolder; border: solid 1px #eaeaea; background: #f5f5f5; color: black;}
        .numbox{padding-bottom:0px; border: solid 1px #eaeaea; border-bottom: solid 1px #eaeaea; height: 55px; width:55px; font-size:30px; color: black; margin-left:-5px; text-align: center; background: transparent;}
        .plus { margin-left: -6px;}



/*2*/
.order{
	background-color:gray;
	width:100%;
	
}

.order caption{
	font-weight:bolder;
	font-size: 30px;
	top:10px;
	background-color:white;
	height:50px;
}

.order td{
	font-size: 20px;
}

.order td.f{
	text-align:center;
}

.order td.s{
	text-align:center;
}

.order tr{
	line-height:50px;
	top:20px;
	height:50px;
	border:1px solid;
}

.buttons{
	padding-left:20%;
}

.button{
	margin-top:10px;
	width: 200px;  
    padding-left:10px; 
    padding:10px;
    background-color: green;  
    border-color: black;  
    color: white;  
    border-radius: 10px; 
    text-align: center;  
    vertical-align: middle;  
    border: 1px solid transparent;  
    font-weight: 500;  
    font-size:125%
	
}



/*foot*/

.footer{
    
	background-color: black;
}
.footer-top {
	padding: 4% 0 2%;
	border-bottom: 1px solid #363636;
}
.col_1_of_4 {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
}
.span_1_of_4 {
	width: 23.8%;
}
.col_1_of_4:first-child {
	margin-left: 0;
}
ul.first li {
	background:url(../images/marker.png) no-repeat 0 8px;
	line-height: 0.8em;
	padding:0 0 15px 18px;
}
ul.first li a {
	font-size: 1em;
	color: #A0A0A0;
	line-height: 1.5em;
	font-family: 'ambleregular';
}
.span_1_of_4 ul li a:hover {
	color:#fff;
}
.span_1_of_4 h3 {
	margin-bottom: 20px;
	font-family: 'ambleregular';
	font-size: 1.6em;
	line-height: 1.2;
	margin-top: 0px;
	letter-spacing: -1px;
	color:#fff;
}
ul.last li span {
	font-size: 1.1em;
	color:#A0A0A0;
	cursor: pointer;
	margin: 10px 0;
	display: block;
	font-family: 'ambleregular';
}
ul.last li span:hover {
	color:#fff;
}
ul.last li span {
	background:none;
}
.space{
	width:300px;
}
#checkout:hover{
	opacity:0.8;
}
.minus:hover,.minus plus:hover{
    opacity:0.5;
}
.button:hover{
    opacity:0.8;
}